.product-item{
    border: 1px solid red;
    padding: 10px;
    margin-bottom: 20px;
}

.product-item-avlable{
    background-color: green;
    color:black
}
.product-item-unavilable{
    background-color: red;
    color: white;

}