.container{
    display: flex;
    background-color: aqua;

}
.sidebar{
    width: 10%;
    height: 100vh;
    background-color: gray;
}
.main{
    width: 90%;
    height: 100vh;
    background-color: green;
}
.nav-item{
    background-color: aqua;
    border: 1px solid red;
    margin: 2px;
}
.nav-item span{
    padding: 10px;
}